<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>追加ページ</title>
  </head>
  <body>
    <h1>追加フォーム</h1>
    <form action="/add/<%= book[0].title %>" method="POST"></form>
    <br />
    title
    <input type="text" name="title" value="<%= book[0].title %>" /><br />
    author
    <input type="text" name="author" value="<%= book[0].author %>" /><br />
    publisher
    <input
      type="text"
      name="publisher"
      value="<%= book[0].publisher %>"
    /><br />
    <button type="submit">追加</button>
  </body>
</html>
